<div class="container mt-4">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="avatar-ctn">
                    <img src="/avatar.png" alt="user profile" srcset="" class="avatar">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <p class="cartd-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat animi ducimus natus,
                        laborum cumque dolores fuga possimus? Vitae quo excepturi labore?
                        Quod ullam, reprehenderit expedita natus ipsam qui voluptates corrupti.
                    </p>
                    <a href="#" class="btn btn-primary">{{ user.email }}</a>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card text-center">
                <div class="card-header">
                    Profile Page
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <p class="cartd-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat animi ducimus natus,
                        laborum cumque dolores fuga possimus? Vitae quo excepturi labore?
                        Quod ullam, reprehenderit expedita natus ipsam qui voluptates corrupti.
                    </p>
                    <a href="#" class="btn btn-primary">{{ user.email }}</a>
                </div>
            </div>
        </div>
    </div>

</div>