body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #563d7c;
    color: #fff;
    padding: 30px 60px !important;
    display: flex !important;
    justify-content: space-between !important;
}

header ul {
    color: #fff;
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
}

header li {
    list-style: none !important;
}

header li a {
    color: #fff;
    text-decoration: none !important;
    font-weight: bold !important;
    padding: 5px 8px !important;
}

header li a:hover {
    color: yellow !important;
    text-decoration: none !important;
}

.avatar-ctn {
    background-color: orange;
    text-align: center;
}

.avatar-ctn .avatar {
    width: 65%;
}

.artile__list .btn {
    color: white !important;
}

header>h1>a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

header>h1>a:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}